<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157650778763-50pnf3dlmcv1knsg93j78kkte2gk9gmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157650778763-50pnf3dlmcv1knsg93j78kkte2gk9gmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDBB70ElT1FhVf0L_XrwfRJRW0wUQ0y9RI</string>
	<key>GCM_SENDER_ID</key>
	<string>157650778763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamTravelGenie.TravelGenie</string>
	<key>PROJECT_ID</key>
	<string>travelgenie-1693313456980</string>
	<key>STORAGE_BUCKET</key>
	<string>travelgenie-1693313456980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157650778763:ios:24c0f21bdff7dac3ef728e</string>
</dict>
</plist>